<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">LOGIN</div>
          <div class="card-body">
            <form action="#" method="post" @submit.prevent="store">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  v-model="form.email"
                  name="email"
                  id="email"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  v-model="form.password"
                  name="password"
                  id="password"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn btn-success">LOGIN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        email: "izzan@gmail.com",
        password: "12345678",
      },
    };
  },
  methods: {
    async store() {
      // console.log("form.submitted");
      await axios.get("http://localhost:8000/sanctum/csrf-cookie");
      await axios.post("http://localhost:8000/login", this.form);
      let user = await axios.get("http://localhost:8000/api/user");
      console.log(user.data);
    },
  },
};
</script>
